/* Container for the image grid */
.pinterest-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 16px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
  }

  @media (max-width: 768px) {
    .pinterest-grid {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Adjust column sizing for smaller screens */
    }
  }

  @media (max-width: 480px) {
    .pinterest-grid {
      grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
       /* Adjust column sizing for even smaller screens */
       grid-gap: 8px;
       padding: 8px;
    }
  }
  
  /* Individual image items */
  .pinterest-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .pinterest-grid-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s ease;
  }
  
  .pinterest-grid-item .info {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    color: #333;
    font-weight: 500;
  }
  
  .pinterest-grid-item:hover img {
    transform: scale(1.05);
  }
  
  /* Modal styling */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Dark background */
  }
  
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    max-width: 90vw; /* Max width is 90% of the viewport width */
    max-height: 90vh; /* Max height is 90% of the viewport height */
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-content img {
    max-width: 100%; /* Image will never exceed the modal width */
    max-height: 80vh; /* Image will never exceed 80% of the viewport height */
    object-fit: contain; /* Preserve aspect ratio */
    border-radius: 10px;
  }
  
  .modal-info {
    margin-top: 10px;
    text-align: center;
  }
  
  .modal-info h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .modal-info p {
    font-size: 14px;
    color: #555;
  }
  
  /* Close button in the modal */
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  